@font-face {
  font-family: Preahvihear;
  src: url("../public/fonts/Preahvihear-Regular.ttf");
}

html {
  height: 100%;
}

#app {
  font-family: Preahvihear, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  background: rgb(89,204,50);
  background-image: linear-gradient(145deg, #59cc32, #43b1fc);
  color: white;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
}

.flex-child {
  width: 50%;
  flex: 1;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  overflow-y: scroll;
}

.flex-child::-webkit-scrollbar {
  display: none;
}

.blurry {
  background-color: rgba(79, 79, 79, 0.8);
}

.thumbnail {
  position: relative;
  width: 75%;
  border-radius: 1rem;
  transition: all .25s ease;
}

.thumbnail.paused {
  filter: grayscale();
  transition: all .25s ease;
}

.thumbnail:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.thumbnail.paused:hover {
  filter: grayscale() brightness(80%);
}

#tradew1nd-placeholder {
  margin: auto;
  display: block;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  width: 50%;
}

.entry {
  border-radius: .5rem;
  background-color: rgba(79, 79, 79, 1);
  padding: 1rem;
  transition: all .5s ease;
  border-width: .25rem;
  border-color: transparent;
  border-style: solid;
  margin-bottom: 1rem;
}

.entry:hover {
  border-color: #59cc32;
  cursor: pointer;
}

.entry > h2, .entry > h3 {
  margin: 0;
}

.entry > h3 {
  color: #ccc;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.playing {
  background-color: #59cc32;
}

.downloaded {
  background-color: #43b1fc;
}

.entry.playing:hover, .entry.downloaded:hover {
  border-color: white;
}

@keyframes downloading {
  0%, 100% {
    background-color: rgba(79, 79, 79, 1);
  }

  50% {
    background-color: #43b1fc;
  }
}

.flex-button {
  width: 50%;
  flex: 1;
  margin: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  text-align: center;
  transition: all .25s ease;
}

.flex-button:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.playing-options {
  left: 0;
  top: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  background-color: #121212;
}

.flex-option {
  flex: 1;
  margin: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  background-color: #00b972;
  transition: all .25s ease;
}

.flex-option.red {
  background-color: #eb0400;
}

.flex-option.disabled {
  background-color: #4f4f4f;
}

.flex-option:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.progress {
  left: 0;
  bottom: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  background-color: #1d327e;
}

.progress-time {
  margin: 0 1rem;
  text-align: center;
  width: 10%;
}

.add-track {
  font-family: Preahvihear, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  width: 100%;
  margin: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  border-width: .25rem;
  border-color: transparent;
  border-style: solid;
}

.add-track:focus {
  border-color: #59cc32;
}

.add-track:focus-visible {
  outline: none;
}

div.add-track {
  background-color: #e5ae0a;
  text-align: center;
}

ul.hidden { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.hidden {
  font-family: Preahvihear, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  list-style-image: none;
  list-style: none;
  list-style-type: none;
  color: white;
}

a {
  text-decoration: none;
  color: burlywood;
}

a:hover {
  text-decoration: underline;
}